# local configuration
# local env files
venv
.venv
.env

# poetry
dist
poetry.lock

# testing
.coverage
htmlcov

# cache
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache

# data
/plots
dashboard.html

# dev files
nd.json 
debug_config.json
benchmark.csv
strategy.csv